.SearchResults {
  background-color: white;
  position: absolute;
  width: 458px;
  font-size: 12px;
}

@media only screen and (max-width: 555px) {
  .SearchResults {
    width: 358px;
  }
}

@media only screen and (max-width: 450px) {
  .SearchResults {
    width: 258px;
  }
}

@media only screen and (max-width: 350px) {
  .SearchResults {
    font-size: 10px;
    width: 158px;
  }
}
